body {
  margin: 60px auto;
  width: 70%;
  background-color: #fcfcfc;
}
h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
h2 {
  font-size: 2.5em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul.tabs li {
  float: left;
}
ul.tabs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
ul.tabs li a:hover {
  background-color: #111111;
}
nav {
  font-size: 1.5em;
}
nav ul {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
.content {
  flex: 1;
}
.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}
.tab-content.current {
  display: inherit;
}
.project_text {
  float: left;
  width: 80%;
}
.project_image {
  float: right;
  width: 30%;
  margin-top: 20px;
}
.project_text1 {
  float: left;
  width: 70%;
}
.project_image1 {
  float: right;
  width: 30%;
  margin-top: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  border-top: 6px solid #acaaaa;
  background-color: #f5f5f5;
  font-size: 1.5em;
}
footer ul {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
footer ul li {
  display: inline;
  margin-right: 20px;
}
footer i {
  font-size: 0.8em;
  text-align: center;
  display: block;
  color: #999;
}
