section {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
section .title {
  text-align: center;
  font-size: 32px;
  height: 42px;
}
section .list {
  display: flex;
  justify-content: center;
  height: 158px;
}
section .list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  height: 100%;
  width: 250px;
  margin-right: 20px;
}
section .list .item div {
  text-align: center;
}
section .list .item div:nth-child(1) {
  font-size: 20px;
  margin-top: 10px;
}
section .list .item span {
  margin: 20px 0 30px;
}
section .list .item span a {
  color: blue;
  padding-right: 10px;
}
